* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
h2 {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}
body {
  background: rgba(205, 205, 207, 0.863);
  color: #050505;
}
.abba {
  background: rgb(171, 197, 245);
  display: flex;
  margin-top: 100px;
  justify-content: center;
  align-items: center;
  min-height: 25vh;
}
.abba span {
  font-family: sans-serif;
  font-size: 1.2em;
}
.abba .btn {
  padding: 5px 10px;
  margin: 0 5px;
  border: none;
  border-radius: 5px;
  background: #333;
  color: #fff;
}
.abba .btn:hover {
  cursor: pointer;
  background: #fff;
  color: #333;
  transition: 1s;
}
.dives {
  margin-top: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: black;
  border-bottom: 5px;
  font-family: sans-serif;
}
.dives h3 {
  margin-left: -25px;
}
.spans {
  color: red;
  margin-left: 10px;
  font-size: 20px;
}
.spaan {
  margin-right: 10px;
}
